@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@400;500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #bbbbbb;
    padding: 20px 0;
}

main {
    width: 940px;
    margin: 0 auto;
}


/* pagina home */

#banner {
    width: 100%;
}

.tituloPrincipal {
    text-align: center;
    font-size: 3em;
    margin: 1em 0;
    clear: left;
    font-family: 'Comforter', sans-serif;
}

.principal p {
    margin-bottom: 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.imgBeneficios {
    width: 60%;
}

#utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {}


/* página produtos */

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #c78c19;
}

.produtos li:active {
    border-color: #088c19;
}

.produtos li:hover h2 {
    font-size: 35px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bolder;
    margin: 10px 0 0;
}


/* página de contatos */

form {
    margin: 40px 0;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.inputGlobal {
    display: block;
    width: 50%;
    margin-bottom: 20px;
    padding: 10px 25px;
}

.checkbox {
    margin: 20px 10px 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    color: #fff;
    background-color: orange;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.enviar:hover {
    background-color: darkorange;
    cursor: pointer;
}


/* tabela de horarios */

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: #fff;
    font-weight: bold;
}

td,
th {
    border: 1px solid #000;
    padding: 8px 15px;
}


/* rodapé */

footer {
    text-align: center;
    background: url("/image/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px 0;
}